<section class="flex flex-col md:flex-row gap-x-8 justify-center items-center">
<div class="[&>p]:mb-4 [&>p>strong]:text-blue-300 [&>p>strong]:font-semibold text-pretty">
    <p>
         Mi nombre es Ismael Mañas Gay, soy de Almería, España. Soy <strong>Técnico Superior en Desarrollo de Aplicaciones Web (DAW)</strong> y <strong>Técnico Superior en Artes Plásticas y Diseño Gráfico</strong>. 
    </p>
    
    <p>
         He trabajado en proyectos de sitios web y aplicaciones, principalmente en la parte de backend. Aunque como diseñador también he trabajado en frontend, tanto en el diseño como en el desarrollo y la implementación.
    </p>
    
    <p>
         Actualmente me centro en seguir creciendo como desarrollador, siempre abierto a nuevas oportunidades de aprendizaje y desarrollo profesional.
    </p>

</div>
<img src="https://avatars.githubusercontent.com/u/214477740?v=4" alt="yo" class="rounded-full size-64">
</section>